<div class="main-container">
<app-header></app-header>
<app-top-categories-bar></app-top-categories-bar>
<app-main-banner></app-main-banner>
<app-small-banners></app-small-banners>
<app-services-bar></app-services-bar>
<app-product-listing></app-product-listing>
<app-products></app-products>
<app-about-us></app-about-us>
<app-photo-gallery></app-photo-gallery>
</div>
  <app-testimonials-carousel></app-testimonials-carousel>
<div class="main-container" >
  <app-trusted-by></app-trusted-by>

</div>
  <!-- <app-login></app-login>
  <app-create-account></app-create-account>
  <app-forget-password></app-forget-password>
  <app-verify-code></app-verify-code>
  <app-reset-password></app-reset-password> -->
  <app-footer></app-footer>


<!-- <router-outlet></router-outlet> -->

