.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
   width: 100%;
  height: 44px;
  border: 1px solid #eee;
  background: #f9f9f9;
  border-radius: 24px;
  outline: none;
  padding: 0 14px;
  margin-bottom: 14px;
  font-size: 14px;
}

.recover-btn {
 width: 100%;
  height: 44px;
  border: none;
  border-radius: 24px;
  background: #f82ba9;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform .04s ease, box-shadow .2s ease, background .2s ease;
  box-shadow: 0 6px 16px rgba(248, 43, 169, 0.35);
}

// .recover-btn:disabled {
//   background-color: #ccc;
//   cursor: not-allowed;
// }
.open-forgetPassword-btn{
    width: 100%;
  height: 44px;
  border: none;
  border-radius: 24px;
  background: #f82ba9;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform .04s ease, box-shadow .2s ease, background .2s ease;
  box-shadow: 0 6px 16px rgba(248, 43, 169, 0.35);
}
.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}
