<button class="open-forgetPassword-btn" (click)="open()">Forgot Password?</button>

<app-popup
  [isOpen]="isOpen"
  [title]="'Forgot Your Password ?'"
  [width]="'520px'"
  (closed)="close()"
>
  <form [formGroup]="forgotForm" (ngSubmit)="onRecover()" class="form-container">

    <input
      type="email"
      formControlName="email"
      placeholder="Enter your email"
    />

    <div class="error" *ngIf="emailCtrl?.invalid && emailCtrl?.touched">
      <span *ngIf="emailCtrl?.errors?.['required']">Email is required.</span>
      <span *ngIf="emailCtrl?.errors?.['email']">Enter a valid email address.</span>
    </div>

    <button type="submit" class="recover-btn" [disabled]="forgotForm.invalid">
      Recover Password
    </button>

    <div *ngIf="message" class="success-msg">{{ message }}</div>
    <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>
  </form>
</app-popup>
