<div class="main-container">
<app-header></app-header>
<app-top-categories-bar></app-top-categories-bar>

<app-main-banner></app-main-banner>
<app-small-banners></app-small-banners>
<app-services-bar></app-services-bar>

<app-product-listing></app-product-listing>
<!-- <app-product-listing2></app-product-listing2> -->

<app-products></app-products>
<app-about-us></app-about-us>
<app-photo-gallery></app-photo-gallery>
</div>


  <app-testimonials-carousel></app-testimonials-carousel>
<div class="main-container" >
  <app-trusted-by></app-trusted-by>

</div>

<!--
  <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>  
        <div class="carousel-item">
          <div class="slide-content">
            <p class="subtitle">BEST GIFT SHOP</p>
            <h1 class="title">
              Choose Perfect<br>
              <span class="gifts-text">Gifts</span> From Us
            </h1>
            <p class="description">
              Culpa ducimus nesciunt aliquam non rerum<br> esse recusandae omnis. Rerum optio dolores<br> et.
            </p>
            <button class="shop-now-btn">Shop Now <span class="arrow">→</span></button>
          </div>
        </div></ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 4</ng-template>
    <ng-template carouselSlide>Slide 5</ng-template>
    <ng-template carouselSlide>Slide 7</ng-template>

  </owl-carousel-o>
  <div>Some tags after</div> -->

  <app-footer></app-footer>

<!--
<app-categories></app-categories>
<app-hero-section></app-hero-section>
<app-premium-gifts></app-premium-gifts>
<app-category-cards-component></app-category-cards-component> -->
<!-- <app-home-page></app-home-page> -->
