<app-header></app-header>
<app-top-categories-bar></app-top-categories-bar>

<app-main-banner></app-main-banner>
<app-small-banners></app-small-banners>
<app-services-bar></app-services-bar>

<app-product-listing></app-product-listing>
<app-products></app-products>
<app-about-us></app-about-us>
<app-photo-gallery></app-photo-gallery>
<app-testimonials-carousel></app-testimonials-carousel>
<app-trusted-by></app-trusted-by>
<app-footer></app-footer>
<!--
<app-categories></app-categories>
<app-hero-section></app-hero-section>
<app-premium-gifts></app-premium-gifts>
<app-category-cards-component></app-category-cards-component> -->
<!-- <app-home-page></app-home-page> -->
