
    <section class="gifts-section">

        <div class="gift-box box-1">
            <div class="content">
                <span class="subtitle">Gifts Box</span>
                <h2 class="title">Awesome Gifts Box <br>Collections</h2>
                <button class="shop-btn">Shop Now</button>
            </div>
        </div>

        <div class="gift-box box-2">
            <div class="content">
                <span class="subtitle">Occasion Gifts</span>
                <h2 class="title">Best Occasion Gifts <br>Collections</h2>
                <button class="discover-btn">Discover Now</button>
            </div>
        </div>

        <div class="gift-box box-3">
            <div class="content">
                <span class="subtitle">Combo Sets</span>
                <h2 class="title">Combo Sets Gift Box</h2>
                <span class="discount">Up To 50% Off</span>
                <button class="discover-btn">Discover Now</button>
            </div>
        </div>

    </section>

