/* You can add global styles to this file, and also import other style files */


body {
  font-family: 'Poppins', sans-serif;
}
.main-container{
width: 95%;
margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
