<!-- <section class="services-bar-section">
  <div class="service-card">
    <div class="icon-circle pink-bg">
      <svg>
        <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/>
        <path d="M12 7a1 1 0 0 0-1 1v4a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1z"/>
      </svg>
    </div>
    <div class="text-content">
      <h3>Free Delivery</h3>
      <p>Orders Over $120</p>
    </div>
  </div>
  <div class="service-card">
    <div class="icon-circle light-pink-bg">
      <svg>
        <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/>
        <path d="M12 7a1 1 0 0 0-1 1v4a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1z"/>
      </svg>
    </div>
    <div class="text-content">
      <h3>Get Refund</h3>
      <p>Within 30 Days Returns</p>
    </div>
  </div>
  <div class="service-card">
    <div class="icon-circle pink-bg">
        <svg>
        <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/>
        <path d="M12 7a1 1 0 0 0-1 1v4a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1z"/>
      </svg>
    </div>
    <div class="text-content">
      <h3>Safe Payment</h3>
      <p>100% Secure Payment</p>
    </div>
  </div>
  <div class="service-card">
    <div class="icon-circle light-pink-bg">
        <svg>
        <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/>
        <path d="M12 7a1 1 0 0 0-1 1v4a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1z"/>
      </svg>
    </div>
    <div class="text-content">
      <h3>24/7 Support</h3>
      <p>Feel Free To Call Us</p>
    </div>
  </div>
</section> -->

<div class="top-categories-bar">
  <div class="category-item-container">
    <div class="category-item">
      <div class="icon-circle pink-bg">
        <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z" />
          <path d="M12 7a1 1 0 0 0-1 1v4a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1z" />
          <path d="M16 11H8a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2z" />
          <path d="M12 6a6 6 0 0 0-6 6 1 1 0 0 0 2 0 4 4 0 0 1 4-4v1a1 1 0 0 0 2 0V8a1 1 0 0 0-2 0z" />
        </svg>
      </div>
      <div class="text-content">
      <h3>Free Delivery</h3>
      <p>Orders Over $120</p>
    </div>
    </div>
  </div>

  <div class="category-item-container">
    <div class="category-item">
      <div class="icon-circle light-pink-bg">
        <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm0 2.236L4 12h16L12 5.236z" />
        </svg>
      </div>
      <div class="text-content">
      <h3>Get Refund</h3>
      <p>Within 30 Days Returns</p>
    </div>
    </div>
  </div>

  <div class="category-item-container">
    <div class="category-item">
      <div class="icon-circle pink-bg">
        <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 12a7 7 0 1 0-7 7 7 7 0 0 0 7-7zm-7 5a5 5 0 1 1 5-5 5 5 0 0 1-5 5zm5-5a1 1 0 1 0 1-1 1 1 0 0 0-1 1z" />
          <path d="M16.5 6a1 1 0 0 0-1.707.707 3 3 0 0 1-4.242 4.242A3 3 0 0 1 5.707 10.293a1 1 0 0 0-.707 1.707 5 5 0 0 0 7.07 0 5 5 0 0 0 7.07-7.07A1 1 0 0 0 16.5 6z" />
        </svg>
      </div>
      <div class="text-content">
      <h3>Safe Payment</h3>
      <p>100% Secure Payment</p>
    </div>
    </div>
  </div>

  <div class="category-item-container">
    <div class="category-item">
      <div class="icon-circle light-pink-bg">
        <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 7h-2a2 2 0 0 0-2-2h-6a2 2 0 0 0-2 2H3a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm-4-2a1 1 0 0 1 1 1v1h-8V6a1 1 0 0 1 1-1z" />
          <path d="M12 10a4 4 0 1 0-4-4 4 4 0 0 0 4 4zm0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2z" />
        </svg>
      </div>
      <div class="text-content">
      <h3>24/7 Support</h3>
      <p>Feel Free To Call Us</p>
    </div>
    </div>
  </div>

