    :root {
      --primary-pink: #F82BA9;
      --light-pink-bg: #fce7f2;
      --dark-text: #333;
    }

    body {
      font-family: 'Inter', sans-serif;
      direction: rtl; /* اتجاه الكتابة من اليمين لليسار */
      background-color: #fff;
      padding: 20px;
    }

    .top-categories-bar {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 40px;
      margin-top: 2rem;
      background-color: #FEEDF7; /* لون الخلفية الوردي الفاتح */
      border-radius: 20px;
      justify-content: space-between;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }

    .category-item-container {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .category-item {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .icon-circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pink-bg {
      background-color:  #F82BA9; /* لون الدائرة الفوشيا */
    }


    .text-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: right;
    }

    .text-content h3 {
      color: var(--dark-text);
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin: 0;
    }

    .text-content p {
      font-size: 16px;
      color: #666;
      font-weight: 400;
      margin: 0;
    }

    /* التصميم المتجاوب للهواتف المحمولة */
    @media (max-width: 768px) {
      .top-categories-bar {
        flex-direction: column; /* جعل العناصر تتراص عموديًا */
        gap: 30px;
        padding: 30px;
      }
      .category-item-container {
        flex: none; /* إزالة flex-grow */
        width: 100%; /* تأكد من أن العناصر تأخذ العرض الكامل */
        justify-content: center;
      }
      .category-item{
        flex-direction: column;
      }
    }
