<!-- set-password.component.html -->
<!-- <button class="open-setPassword-btn" (click)="open()">Set Password</button> -->

<app-popup
  [isOpen]="isOpen"
  [title]="'Set Password'"
  [width]="'520px'"
  (closed)="close()"
>
  <form [formGroup]="resetForm" (ngSubmit)="onReset()" class="form-container">
    <input type="email" formControlName="email" placeholder="Enter your email" />
    <div class="error" *ngIf="emailCtrl?.invalid && emailCtrl?.touched">
      <span *ngIf="emailCtrl?.errors?.['required']">Email is required.</span>
      <span *ngIf="emailCtrl?.errors?.['email']">Enter a valid email.</span>
    </div>

    <input type="password" formControlName="newPassword" placeholder="Enter new password" />
    <div class="error" *ngIf="newPasswordCtrl?.invalid && newPasswordCtrl?.touched">
      <span *ngIf="newPasswordCtrl?.errors?.['required']">Password is required.</span>
      <span *ngIf="newPasswordCtrl?.errors?.['minlength']">Password must be at least 8 characters.</span>
      <span *ngIf="newPasswordCtrl?.errors?.['pattern']">
        Must contain uppercase, lowercase, number, and special character.
      </span>
    </div>

    <button type="submit" [disabled]="resetForm.invalid" class="reset-btn">
      Reset Password
    </button>

    <div *ngIf="message" class="success-msg">{{ message }}</div>
    <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>
  </form>
</app-popup>
